[DEFAULT]
debug = true
verbose = true
ui_url = https://${REFSTACK_HOST:-127.0.0.1}

[api]
static_root = /home/dev/refstack/refstack-ui/app
template_path = /home/dev/refstack/refstack-ui/app
app_dev_mode = true
api_url = https://${REFSTACK_HOST:-127.0.0.1}
github_api_capabilities_url = https://api.github.com/repos/stackhpc/interop/contents?ref=iris
additional_capability_urls = https://api.github.com/repos/stackhpc/interop/contents/add-ons?ref=iris
github_raw_base_url = https://raw.githubusercontent.com/stackhpc/interop/iris/

[database]
connection = ${REFSTACK_MYSQL_URL}

[osid]
openstack_openid_endpoint = https://openstackid.org/accounts/openid2
